{% extends 'base.html' %}
{% load static %}
{% block  content %}
    <head>
        <meta charset="UTF-8">
        <link class="style_scale" rel="stylesheet"> <!--href="{% static 'css/back_static.css' %}">-->
        <title>Back Static</title>
    </head>

    <body>

        <div class="container">
            <img class="img-background" src="{% static 'image/img_static/img0.jpg' %}"/>
            <div class="image-text">
                <i><b>Космическая сказка (фрагмент)</b></i>
                <hr><small>
                Окрашен космос в чёрный цвет,
                <br>Поскольку атмосферы нет,
                <br>Ни ночи нет, ни дня.
                <br>Здесь нет земной голубизны,
                <br>Здесь виды странны и чудны:
                <br>И звёзды сразу все видны,
                <br>И Солнце, и Луна.
                <br>На севере звезда видна,
                <br>И называется она
                <br>Полярною звездой.
                <br>Она надёжный друг людей,
                <br>И две Медведицы при ней
                <br>Среди космических огней
                <br>Всё ходят чередой.
                <br>Невдалеке притих Дракон.
                <br>Косится на Медведиц он,
                <br>Жует концы усов.
                <br>И долго наблюдал Орёл,
                <br>Как тощий Волк куда-то брёл
                <br>И стороною обошёл
                <br>Созвездье Гончих Псов.
                <br>Спокойно спал небесный Лев,
                <br>Раскрыв свой страшный львиный зев
                <br>(Со львами не шути!)
                <br>Кит к Андромеде подплывал,
                <br>Пегас стремительно скакал,
                <br>И гордо Лебедь пролетал
                <br>По Млечному Пути.
                <br>Кого-то Гидра стерегла,
                <br>Ведь Гидра Гидрою была
                <br>Спокон веков, друзья!
                <br>Через гигантский небосвод
                <br>Она таинственно ползёт.
                <br>Кого же Гидра стережёт?
                <br>Сказать пока нельзя.
                <br>А возле Млечного Пути,
                <br>Где ни проехать, ни пройти,
                <br>Лежит огромный Рак.
                <br>Лежит в космической пыли,
                <br>Слегка клешнями шевелит
                <br>И всё за Гидрою следит.
                <br>(Рак, видно, не дурак!)
                <br>Здесь Ворон крыльями махал,
                <br>Из пепла Феникс воскресал,
                <br>Хвост распушал Павлин,
                <br>Здесь извивалася Змея,
                <br>Лисички бегали, резвясь,
                <br>И Рысь сидела, притаясь,
                <br>Певца спасал Дельфин.
                <br>Жираф вышагивал, как Бог,
                <br>Вот Заяц, вот Единорог,
                <br>Журавль, Хамелеон.
                <br>И Голубь с Ящерицей есть...
                <br>Нет, видно, мне не перечесть
                <br>Всех этих сказочных существ,
                <br>Кем космос заселён.
                </small>
            </div>
        </div>

    </body>

<script>
    window.addEventListener("resize", AutoScale); //Масштабируем страницу при растягивании окна
    AutoScale(); //Масштабируем страницу после загрузки

    function AutoScale()
    {
        let width = window.innerWidth; //Ширина окна
        //Если вы хотите проверять по размеру экрана, то вам нужно свойство window.screen.width

        let scale = document.querySelector('.style_scale');

        if(width > 1200)
        {
            scale.setAttribute("href", "/static/css/back_static.css");
        }
        else if(width <= 1200)
        {
            scale.setAttribute("href", "/static/css/back_static_small.css");
        }
    }
</script>
{% endblock %}