{% extends 'base.html' %}
{% load static %}
{% block  content %}
<head>
    <meta charset="UTF-8">
    <link class="style_scale" rel="stylesheet"> <!--href="{% static 'css/dish_order.css' %}">-->
</head>

<body>
    <div>
        <button id="buttonSumOrder" onclick="sumOrder();">Что заказано:</button>
        <div id="orderDIV"></div>
        <button id="buttonClearOrder" onclick="dishClear();">Очистить!</button>
    </div>
</body>

<script src="{% static 'js/dish_order.js' %}"></script>
<script>
    window.addEventListener("resize", AutoScale); //Масштабируем страницу при растягивании окна
    AutoScale(); //Масштабируем страницу после загрузки

    function AutoScale()
    {
        let width = window.innerWidth; //Ширина окна
        //Если вы хотите проверять по размеру экрана, то вам нужно свойство window.screen.width

        let scale = document.querySelector('.style_scale');

        if(width > 1200)
        {
            scale.setAttribute("href", "/static/css/dish_order.css");
        }
        else if(width <= 1200)
        {
            scale.setAttribute("href", "/static/css/dish_order_small.css");
        }
    }
</script>
{% endblock %}