{% extends 'base.html' %}
{% load static %}
{% block  content %}
<main role="main">
    <div class="div_feedback">
        <pre id="fileContent">{{ file_content }}</pre>
    </div>


    <form id="feedback">
        <fieldset class="feedback">
            <legend>Поле для похвал и предложений:</legend>
            <textarea class="textarea" name="feedtext" placeholder="Введите текст..."></textarea><br>
            <input id="public" type="submit" onclick="setFeedback();" value="Опубликовать" style="float:right;">
        </fieldset>
    </form>


    <script type="text/javascript">
        let inputNickName = sessionStorage.getItem('inputNickName');
        /* передача на запись */
        function setFeedback(){
            let input = document.querySelector('.textarea');
            let xhr = new XMLHttpRequest();
            if (input.textLength > 0){
                input.value = input.value.replace(/\n/g, '<br>    ');
                input.value = encodeURIComponent(input.value);  // не будет обрезать текст на символе '#'
                xhr.open('GET', '../feed_back/'
                                + '?feedtext='
                                + inputNickName
                                + ':<br>    '
                                + input.value
                                + '--hr--'
                                + '.end', false);
                xhr.send();
            }
        }
    </script>

    <script type="text/javascript">
        /* создание <hr> */
        let HR = document.getElementById('fileContent');
        HR.innerHTML = HR.innerHTML.replace(/--hr--/g, '<hr>');
        HR.innerHTML;
    </script>
</main>
{% endblock %}