{% extends 'base.html' %}
{% load static %}
{% block  content %}
<head>
    <script type="text/javascript">
        let inputNickName = sessionStorage.getItem('inputNickName');
        document.addEventListener('DOMContentLoaded', function() {
            let nick = document.querySelector('#nickn');
            if (inputNickName != 'null' && typeof(inputNickName) == 'string'){
                nick.innerText = `HELLO,\n${inputNickName}!`;
            }
            else{
                nick.innerText = 'HELLO,\nWORLD!';
            }
        });
    </script>
</head>
<main role="main">
    <style>
        @font-face {
            font-family: my_font; /* Гарнитура шрифта */
            src: url({% static 'my_font/1isadora-m-bold.ttf' %}); /* Путь к файлу со шрифтом */
        }
        h1 {
            text-align: center;
            font-family: my_font;
            font-size: 1000%;
        }
    </style>

    <h1 id="nickn"></h1>
</main>
{% endblock %}