{% extends 'base.html' %}
{% load static %}
{% block  content %}
<main role="main">
    <link rel="stylesheet" href="{% static 'css/reg_log.css' %}">
    <form id="form" autocomplete="off">
        <fieldset class="form">
            <b>LOGIN</b><hr>
            <input class="enterfield" id="nname" type="text" name="NickName" placeholder="NICK NAME"/>
                <br>
            <input class="enterfield" id="passw" type="password" name="Password" placeholder="PASSWORD"/>
                <br>
            <input class="reglog" id="sent_data" type="submit" value="Login">
                <br><hr>
            <a href="../registration">Registration?</a>
        </fieldset>
    </form>
</main>

<script type="text/javascript">
    form.addEventListener("submit", function() {
        // передача ника и пароля из браузера
        let input = document.getElementsByClassName('enterfield');
        let req = new XMLHttpRequest();
        req.open('GET', '../CheckUser/' +
                        '?NickName=' + input.NickName.value + '.end1' +
                        '?Password=' + input.Password.value + '.end2', false);
        req.send();    // to CheckUser()
        // сокрытие NickName и Password в пути браузера
        input.NickName.value = '*'.repeat(input.NickName.value.length);
        input.Password.value = '*'.repeat(input.Password.value.length);
    });
</script>

<script type="text/javascript">
    // проверка наличия в таблице sql (check_user.py)
    let ldata = JSON.parse("{{data|escapejs}}");    // from CheckUser()
    for(x in ldata) {
        if (x == 'the user is ok') {
            document.cookie = "IsUserLogin=" + x + ";path=/";
            document.location.href='../first';
        }
        else if (x != '') {
            document.getElementById('nname').placeholder = "The Nickname and/or Password";
            document.getElementById('passw').placeholder = "do NOT match!";
        }
    };
</script>
{% endblock %}