{% extends 'base.html' %}
{% load static %}
{% block  content %}
<main role="main">
    <link rel="stylesheet" href="{% static 'css/reg_log.css' %}">
    <form id="form" autocomplete="off">
        <fieldset class="form">
            <b>ЛОГИН</b><hr>
            <input class="enterfield" id="nname" type="text" name="NickName" placeholder="ПРОЗВИЩЕ"/>
                <br>
            <input class="enterfield" id="passw" type="password" name="Password" placeholder="ПАРОЛЬ"/>
                <br>
            <input class="logIn" id="sent_data" type="submit" value=">>   Вход   <<">
                <br><hr>
            <a class="fontA" href="../registration">Зарегистрироваться?</a>
            <a class="fontA" href="../recover">Восстановить пароль?</a>
        </fieldset>
    </form>
</main>

<script type="text/javascript">
    form.addEventListener("submit", function(){
        // передача ника и пароля из браузера
        let input = document.getElementsByClassName('enterfield');
        let req = new XMLHttpRequest();
        req.open('GET', '../CheckUser/' +
                        '?NickName=' + input.NickName.value + '.end1' +
                        '?Password=' + input.Password.value + '.end2', false);
        req.send();    // to CheckUser()
        // сокрытие NickName и Password в пути браузера
        input.NickName.value = '*';
        input.Password.value = '*';
    });
</script>

<script type="text/javascript">
    // проверка наличия в таблице sql (check_user.py)
    let ldata = JSON.parse("{{data|escapejs}}");    // from CheckUser()
    for(x in ldata){
        x = x.split(', ');
        if (x[0] == 'the user is ok') {
            sessionStorage.setItem('inputNickName', x[1]); // сохраняем в sessionStorage и прочитаем в first.html
            document.cookie = 'IsUserLogin=' + x + ';path=/'; // сохраняем в куки о том, что юзер из таблицы
            document.location.href='../first'; // переход на первую страницу
        }
        else if (x != ''){
            document.getElementById('nname').placeholder = "The Nickname and/or Password";
            document.getElementById('passw').placeholder = "do NOT match!";
        }
    };
</script>
{% endblock %}