{% extends 'base.html' %}
{% load static %}
{% block  content %}
<main role="main">
    <link class="style_scale" rel="stylesheet"> <!--href="{% static 'css/reg_log.css' %}">-->
    <form id="form" autocomplete="off">
        <fieldset class="form">
            <b>ВОССТАНОВЛЕНИЕ ПАРОЛЯ</b><hr>
            <input class="enterfield" id="nname" type="text" name="NickName" placeholder="ПРОЗВИЩЕ"/>
                <br>
            <input class="enterfield" type="text" name="Email" placeholder="EMAIL"/>
                <br>
            <input class="logIn" id="sent_data" type="submit" value=">>   Восстановить   <<">
            <p id="recoverP"> * Пароль будет отправлен Вам на почту!</p>
        </fieldset>
    </form>
</main>

<script type="text/javascript">
    form.addEventListener("submit", function(){
        // передача ника и эмейла из браузера
        let input = document.getElementsByClassName('enterfield');
        let req = new XMLHttpRequest();
        req.open('GET', '../RecoverUser/' +
                        '?NickName=' + input.NickName.value + '.end1' +
                        '?Email=' + input.Email.value + '.end2', false);
        req.send();    // to RecoverUser()
        // сокрытие NickName и Email в пути браузера
        input.NickName.value = '*';
        input.Email.value = '*';
    });
</script>
<script>
    window.addEventListener("resize", AutoScale); //Масштабируем страницу при растягивании окна
    AutoScale(); //Масштабируем страницу после загрузки

    function AutoScale()
    {
        let width = window.innerWidth; //Ширина окна
        //Если вы хотите проверять по размеру экрана, то вам нужно свойство window.screen.width

        let scale = document.querySelector('.style_scale');

        if(width > 1200)
        {
            scale.setAttribute("href", "/static/css/reg_log.css");
        }
        else if(width <= 1200)
        {
            scale.setAttribute("href", "/static/css/reg_log_small.css");
        }
    }
</script>
{% endblock %}