{% extends 'base.html' %}
{% load static %}
{% block  content %}
<main role="main">
    <link class="style_scale" rel="stylesheet"> <!--href="{% static 'css/reg_log.css' %}">-->
    <form id="form" autocomplete="off">
        <fieldset class="form">
            <b><input class="regLog" type="submit" value=">>    РЕГИСТРАЦИЯ    <<"></b>
                <hr>
            <input class="enterfield"  type="text" name="NickName" placeholder="ПРОЗВИЩЕ"/>
                <br>

            <input class="enterfield" type="text" name="Email" placeholder="EMAIL"/>
                <br>

            <input class="enterfield" type="password" name="Password" placeholder="ПАРОЛЬ"/>
                <br>

            <input class="enterfield" type="password" name="RepPassword" placeholder="ПОВТОР ПАРОЛЯ"/>
                <br>
        </fieldset>
    </form>
</main>

<script type="text/javascript">
    form.addEventListener("submit", function(e){
        e.preventDefault(); // предотвращает обновление формы, дабы отработал код, по обработке, ниже
        // Проверка совпадения Password & RepPassword
        let input = document.getElementsByClassName('enterfield');
        if (input.Password.value == input.RepPassword.value && input.Password.value != ''){
            // передача ника, эмейла и пароля из браузера
            let req = new XMLHttpRequest();
            req.open('GET', '../AddUser/' +
                            '?NickName=' + input.NickName.value + '.end1' +
                            '?Password=' + input.Password.value + '.end2' +
                            '?Email=' + input.Email.value + '.end3', false);
            req.send();    // to AddUser()
            // сохраняем в sessionStorage и прочитаем в first.html
            sessionStorage.setItem('inputNickName', input.NickName.value);
            // сокрытие NickName, Email и Password в пути браузера
            input.NickName.value = '*';
            input.Password.value = '*';
            input.RepPassword.value = '*';
            input.Email.value = '*';
            // переход на первую страницу
            document.cookie = 'IsUserLogin=the user is ok' + ';path=/'; // сохраняем в куки о том, что юзер из таблицы
            document.location.href='../first';
        }
        else{
            // сообщаем, что пароли не совпали через placeholder
            input.Password.value = '';
            input.RepPassword.value = '';
            input.Password.placeholder = 'The Password and Repeat Password';
            input.RepPassword.placeholder = 'do NOT match!';
        }
    });
</script>
<script>
    window.addEventListener("resize", AutoScale); //Масштабируем страницу при растягивании окна
    AutoScale(); //Масштабируем страницу после загрузки

    function AutoScale()
    {
        let width = window.innerWidth; //Ширина окна
        //Если вы хотите проверять по размеру экрана, то вам нужно свойство window.screen.width

        let scale = document.querySelector('.style_scale');

        if(width > 1200)
        {
            scale.setAttribute("href", "/static/css/reg_log.css");
        }
        else if(width <= 1200)
        {
            scale.setAttribute("href", "/static/css/reg_log_small.css");
        }
    }
</script>
{% endblock %}