{% extends 'base.html' %}
{% load static %}
{% block  content %}
<main role="main">
    <link rel="stylesheet" href="{% static 'css/reg_log.css' %}">
    <form id="form">
        <fieldset class="form">
            <b>REGISTER</b><hr>
            <input class="enterfield" type="text" name="NickName" placeholder="NICK NAME"/>
                <br>

            <input class="enterfield" type="text" name="Email" placeholder="EMAIL"/>
                <br>

            <input class="enterfield" type="password" name="Password" placeholder="PASSWORD"/>
                <br>
            <input class="reglog" type="submit" value="Register">
        </fieldset>
    </form>
</main>
{% endblock %}