{% extends 'base.html' %}
{% load static %}
{% block  content %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/some_page.css' %}">
</head>

<main role="main">
    <table>
        <tr><!--строка-->
            <td rowspan="2" text="Тортик"><a id="m_cake" tagPrice="10"><img src="{% static 'image/десерт_медовик_с_брусникой.jpg' %}"/></a></td><!--столбец-->
            <th colspan="2">Холодные блюда</th>
            <th colspan="2">Горячие блюда</th>
            <td rowspan="2" text="Сырники"><a id="m_" tagPrice="10.5"><img src="{% static 'image//десерт_сырники.jpg' %}"/></a></td>
        </tr>
        <tr style="font-family: cursive;">
            <td>Салаты</td>
            <td>Закуски</td>
            <td>Первые <br> блюда</td>
            <td>Вторые <br> блюда</td>
        </tr>
        <tr>
            <td rowspan="3" text="Напиток"><img src="{% static 'image//напитки.jpg' %}"/></td>
            <td text="Из свежих овощей"><img src="{% static 'image//салат_из_свеж_овощ.jpeg' %}"/></td>
            <td text="Cырное ассорти"><img src="{% static 'image//закуски_сырное_ассорти.jpeg' %}"/></td>
            <td text="Борщ"><img src="{% static 'image//первое_борщ.jpeg' %}"/></td>
            <td text="Вареники с вишней"><img src="{% static 'image//второе-вареники-с-вишней.jpeg' %}"/></td>
            <td rowspan="3" text="Пивасик"><img src="{% static 'image//напитки_пиво.jpg' %}"/></td>
        </tr>
        <tr>
            <td text="Копчёная форель"><img src="{% static 'image//салат_копчён_форель.jpeg' %}"/></td>
            <td text="Мясное ассорти"><img src="{% static 'image//закуски_мясное_ассорти.jpeg' %}"/></td>
            <td text="Грибной суп"><img src="{% static 'image//первое_грибной_суп.jpeg' %}"/></td>
            <td text="Котлета с грибным соусом и пюре"><img src="{% static 'image//второе_котлета_с_гриб_соус_и_пюре.jpeg' %}"/></td>
        </tr>
        <tr>
            <td text="Ростбиф"><img src="{% static 'image//салат_с_ростбифом.jpeg' %}"/></td>
            <td text="Домашние соленья"><img src="{% static 'image//закуски_домашние_соленья.jpeg' %}"/></td>
            <td text="Уха"><img src="{% static 'image//первое_уха.jpeg' %}"/></td>
            <td text="Пельмешки"><img src="{% static 'image//второе_пельмени.jpeg' %}"/></td>
        </tr>
    </table>

    <br>
    <label id="valueLabel">
        Price: <label id="price"></label>
    </label>
</main>

<script type="text/javascript">
    let m_cake = document.getElementById('m_cake');
    let price = document.getElementById('price');

    m_cake.addEventListener('mouseover', function() {
        price.textContent = m_cake.getAttribute('tagPrice');
    });
    m_cake.addEventListener('mouseout', function() {
        price.textContent = '';
    });
</script>
{% endblock %}