{% extends 'base.html' %}
{% load static %}
{% block  content %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/some_page.css' %}">
</head>

<main role="main">
    <table>
        <tr><!--строка-->
            <td rowspan="2" text="Тортик"><a class="eat_menu" tagText="Тортик" tagPrice="10"><img src="{% static 'image/тортик.jpeg' %}"/></a></td><!--столбец-->
            <th colspan="2">Холодные блюда</th>
            <th colspan="2">Горячие блюда</th>
            <td rowspan="2" text="Сырники"><a class="eat_menu" tagText="Сырники" tagPrice="10.5"><img src="{% static 'image//сырники.jpeg' %}"/></a></td>
        </tr>
        <tr style="font-family: cursive;">
            <td>Салаты</td>
            <td>Закуски</td>
            <td>Первые <br> блюда</td>
            <td>Вторые <br> блюда</td>
        </tr>
        <tr>
            <td rowspan="3" text="Напиток"><a class="eat_menu" tagText="Напиток" tagPrice="11"><img src="{% static 'image//напиток.jpeg' %}"/></a></td>
            <td text="Из свежих овощей"><a class="eat_menu" tagText="Салат из свежих овощей" tagPrice="11.5"><img src="{% static 'image//салатизсвежиховощей.jpeg' %}"/></a></td>
            <td text="Cырное ассорти"><a class="eat_menu" tagText="Cырное ассорти" tagPrice="12"><img src="{% static 'image//cырноеассорти.jpeg' %}"/></a></td>
            <td text="Борщ"><a class="eat_menu" tagText="Борщ" tagPrice="12.5"><img src="{% static 'image//борщ.jpeg' %}"/></a></td>
            <td text="Вареники с вишней"><a class="eat_menu" tagText="Вареники с вишней" tagPrice="13"><img src="{% static 'image//вареникисвишней.jpeg' %}"/></a></td>
            <td rowspan="3" text="Пивасик"><a class="eat_menu" tagText="Пивасик" tagPrice="13.5"><img src="{% static 'image//пивасик.jpeg' %}"/></a></td>
        </tr>
        <tr>
            <td text="Копчёная форель"><a class="eat_menu" tagText="Копчёная форель" tagPrice="14"><img src="{% static 'image//копчёнаяфорель.jpeg' %}"/></a></td>
            <td text="Мясное ассорти"><a class="eat_menu" tagText="Мясное ассорти" tagPrice="14.5"><img src="{% static 'image//мясноеассорти.jpeg' %}"/></a></td>
            <td text="Грибной суп"><a class="eat_menu" tagText="Грибной суп" tagPrice="15"><img src="{% static 'image//грибнойсуп.jpeg' %}"/></a></td>
            <td text="Котлета с грибным соусом и пюре"><a class="eat_menu" tagText="Котлета с грибным соусом и пюре" tagPrice="15.5"><img src="{% static 'image//котлетасгрибнымсоусомипюре.jpeg' %}"/></a></td>
        </tr>
        <tr>
            <td text="Ростбиф"><a class="eat_menu" tagText="Ростбиф" tagPrice="16"><img src="{% static 'image//ростбиф.jpeg' %}"/></a></td>
            <td text="Домашние соленья"><a class="eat_menu" tagText="Домашние соленья" tagPrice="16.5"><img src="{% static 'image//домашниесоленья.jpeg' %}"/></a></td>
            <td text="Уха"><a class="eat_menu" tagText="Уха" tagPrice="17"><img src="{% static 'image//уха.jpeg' %}"/></a></td>
            <td text="Пельмешки"><a class="eat_menu" tagText="Пельмешки" tagPrice="17.5"><img src="{% static 'image//пельмешки.jpeg' %}"/></a></td>
        </tr>
    </table>


    <br>
    <label class="price">
        Цена: <label id="price"></label>
    </label>
    <label class="total">
        Итого: <label id="total"></label>
    </label>
    <label class="dishes">
        Блюд: <label id="dishes"></label>
    </label>


    <br><br>
    <button id="buttonModal" onclick="openModal()">Подробнее о заказе</button>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-datalist">
                <span class="dishCancel" onclick="dishCancel()">&#8709;</span>
                <button id="buttonMinus" onclick="dishMinus()">&#8826;</button>
                <input list="rangeList" id="listSelected">
                  <datalist id="rangeList">
                  </datalist>
                <button id="buttonPlus" onclick="dishPlus()">&#8827;</button>
                <span class="close" onclick="closeModal()">&#10007;</span>
            </div>
            <p id="showDishes"></p>
            <button id="buttonOrder" onclick="dishOrder()">Заказать</button>
        </div>
    </div>
</main>


<script src="{% static 'js/some_page.js' %}"></script>
{% endblock %}