<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style_base.css' %}">
</head>
<body>
    <header>H E A D E R
        <nav>
            <ul class="menu">
                <li><a href="#">Меню1</a>

                    <ul class="menu-2">
                        <li><a href="#">1 п.меню1</a>

                            <ul class="menu-3">
                                <li><a href="#">1-1 п.п.меню1</a>
                                    <ul>
                                        <li><a href="#">1-1-1 п.п.п.меню1</a></li>
                                        <li><a href="#">1-1-1 п.п.п.меню2</a></li>
                                        <li><a href="#">1-1-1 п.п.п.меню3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">1-1 п.п.меню2</a>
                                    <ul>
                                        <li><a href="#">1-1-2 п.п.п.меню1</a></li>
                                        <li><a href="#">1-1-2 п.п.п.меню2</a></li>
                                        <li><a href="#">1-1-2 п.п.п.меню3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">1-1 п.п.меню3</a>
                                    <ul>
                                        <li><a href="#">1-1-3 п.п.п.меню1</a></li>
                                        <li><a href="#">1-1-3 п.п.п.меню2</a></li>
                                        <li><a href="#">1-1-3 п.п.п.меню3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li><a href="#">1 п.меню2</a>
                            <ul class="menu-3">
                                <li><a href="#">1-2 п.п.меню1</a>
                                    <ul>
                                        <li><a href="#">1-2-1 п.п.п.меню1</a></li>
                                        <li><a href="#">1-2-1 п.п.п.меню2</a></li>
                                        <li><a href="#">1-2-1 п.п.п.меню3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">1-2 п.п.меню2</a>
                                    <ul>
                                        <li><a href="#">1-2-2 п.п.п.меню1</a></li>
                                        <li><a href="#">1-2-2 п.п.п.меню2</a></li>
                                        <li><a href="#">1-2-2 п.п.п.меню3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">1-2 п.п.меню3</a>
                                    <ul>
                                        <li><a href="#">1-2-3 п.п.п.меню1</a></li>
                                        <li><a href="#">1-2-3 п.п.п.меню2</a></li>
                                        <li><a href="#">1-2-3 п.п.п.меню3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>


                <li><a href="#">Меню2</a>
                    <ul class="menu-2">
                        <li><a href="#">2 п.меню1</a>

                            <ul class="menu-3">
                                <li><a href="#">2-1 п.п.меню1</a>
                                    <ul>
                                        <li><a href="#">2-1-1 п.п.п.меню1</a></li>
                                        <li><a href="#">2-1-1 п.п.п.меню2</a></li>
                                        <li><a href="#">2-1-1 п.п.п.меню3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">2-1 п.п.меню2</a>
                                    <ul>
                                        <li><a href="#">2-1-2 п.п.п.меню1</a></li>
                                        <li><a href="#">2-1-2 п.п.п.меню2</a></li>
                                        <li><a href="#">2-1-2 п.п.п.меню3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">2-1 п.п.меню3</a>
                                    <ul>
                                        <li><a href="#">2-1-3 п.п.п.меню1</a></li>
                                        <li><a href="#">2-1-3 п.п.п.меню2</a></li>
                                        <li><a href="#">2-1-3 п.п.п.меню3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li><a href="#">2 п.меню2</a>
                            <ul class="menu-3">
                                <li><a href="#">2-2 п.п.меню1</a>
                                    <ul>
                                        <li><a href="#">2-2-1 п.п.п.меню1</a></li>
                                        <li><a href="#">2-2-1 п.п.п.меню2</a></li>
                                        <li><a href="#">2-2-1 п.п.п.меню3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">2-2 п.п.меню2</a>
                                    <ul>
                                        <li><a href="#">2-2-2 п.п.п.меню1</a></li>
                                        <li><a href="#">2-2-2 п.п.п.меню2</a></li>
                                        <li><a href="#">2-2-2 п.п.п.меню3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">2-2 п.п.меню3</a>
                                    <ul>
                                        <li><a href="#">2-2-3 п.п.п.меню1</a></li>
                                        <li><a href="#">2-2-3 п.п.п.меню2</a></li>
                                        <li><a href="#">2-2-3 п.п.п.меню3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>


                <li><a href="#">Меню3</a>
                    <ul class="menu-2">
                        <li><a href="#">3 п.меню1</a>

                            <ul class="menu-3">
                                <li><a href="#">3-1 п.п.меню1</a>
                                    <ul>
                                        <li><a href="#">3-1-1 п.п.п.меню1</a></li>
                                        <li><a href="#">3-1-1 п.п.п.меню2</a></li>
                                        <li><a href="#">3-1-1 п.п.п.меню3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">3-1 п.п.меню2</a>
                                    <ul>
                                        <li><a href="#">3-1-2 п.п.п.меню1</a></li>
                                        <li><a href="#">3-1-2 п.п.п.меню2</a></li>
                                        <li><a href="#">3-1-2 п.п.п.меню3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">3-1 п.п.меню3</a>
                                    <ul>
                                        <li><a href="#">3-1-3 п.п.п.меню1</a></li>
                                        <li><a href="#">3-1-3 п.п.п.меню2</a></li>
                                        <li><a href="#">3-1-3 п.п.п.меню3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li><a href="#">3 п.меню2</a>
                            <ul class="menu-3">
                                <li><a href="#">3-2 п.п.меню1</a>
                                    <ul>
                                        <li><a href="#">3-2-1 п.п.п.меню1</a></li>
                                        <li><a href="#">3-2-1 п.п.п.меню2</a></li>
                                        <li><a href="#">3-2-1 п.п.п.меню3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">3-2 п.п.меню2</a>
                                    <ul>
                                        <li><a href="#">3-2-2 п.п.п.меню1</a></li>
                                        <li><a href="#">3-2-2 п.п.п.меню2</a></li>
                                        <li><a href="#">3-2-2 п.п.п.меню3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">3-2 п.п.меню3</a>
                                    <ul>
                                        <li><a href="#">3-2-3 п.п.п.меню1</a></li>
                                        <li><a href="#">3-2-3 п.п.п.меню2</a></li>
                                        <li><a href="#">3-2-3 п.п.п.меню3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    {% block  content %} {% endblock %}

    <footer>F O O T E R</footer>
</body>
</html>