<!DOCTYPE html>
{% load static %}
<html lang="en">
<meta charset=utf-8>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style_base.css' %}">
</head>
<body>
    <header role="banner">
        <nav>
            <ul class="menu">
                <li><a>Menu1</a>

                    <ul class="menu-2">
                        <li><a href="#">some...</a>

                            <ul class="menu-3">
                                <li><a href="#">...</a>
                                    <ul>
                                        <li><a href="../some_page">...page</a></li>
                                        <li><a href="#">1-1-1-2</a></li>
                                        <li><a href="#">1-1-1-3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">1-1-2</a>
                                    <ul>
                                        <li><a href="#">1-1-2-1</a></li>
                                        <li><a href="#">1-1-2-2</a></li>
                                        <li><a href="#">1-1-2-3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">1-1-3</a>
                                    <ul>
                                        <li><a href="#">1-1-3-1</a></li>
                                        <li><a href="#">1-1-3-2</a></li>
                                        <li><a href="#">1-1-3-3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li><a href="#">1-2</a>
                            <ul class="menu-3">
                                <li><a href="#">1-2-1</a>
                                    <ul>
                                        <li><a href="#">1-2-1-1</a></li>
                                        <li><a href="#">1-2-1-2</a></li>
                                        <li><a href="#">1-2-1-3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">1-2-2</a>
                                    <ul>
                                        <li><a href="#">1-2-2-1</a></li>
                                        <li><a href="#">1-2-2-2</a></li>
                                        <li><a href="#">1-2-2-3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">1-2-3</a>
                                    <ul>
                                        <li><a href="#">1-2-3-1</a></li>
                                        <li><a href="#">1-2-3-2</a></li>
                                        <li><a href="#">1-2-3-3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>


                <li><a>Menu2</a>
                    <ul class="menu-2">
                        <li><a href="#">2-1</a>

                            <ul class="menu-3">
                                <li><a href="#">2-1-1</a>
                                    <ul>
                                        <li><a href="#">2-1-1-1</a></li>
                                        <li><a href="#">2-1-1-2</a></li>
                                        <li><a href="#">2-1-1-3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">2-1-2</a>
                                    <ul>
                                        <li><a href="#">2-1-2-1</a></li>
                                        <li><a href="#">2-1-2-2</a></li>
                                        <li><a href="#">2-1-2-3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">2-1-3</a>
                                    <ul>
                                        <li><a href="#">2-1-3-1</a></li>
                                        <li><a href="#">2-1-3-2</a></li>
                                        <li><a href="#">2-1-3-3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li><a href="#">2-2</a>
                            <ul class="menu-3">
                                <li><a href="#">2-2-1</a>
                                    <ul>
                                        <li><a href="#">2-2-1-1</a></li>
                                        <li><a href="#">2-2-1-2</a></li>
                                        <li><a href="#">2-2-1-3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">2-2-2</a>
                                    <ul>
                                        <li><a href="#">2-2-2-1</a></li>
                                        <li><a href="#">2-2-2-2</a></li>
                                        <li><a href="#">2-2-2-3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">2-2-3</a>
                                    <ul>
                                        <li><a href="#">2-2-3-1</a></li>
                                        <li><a href="#">2-2-3-2</a></li>
                                        <li><a href="#">2-2-3-3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>


                <li><a>Menu3</a>
                    <ul class="menu-2">
                        <li><a href="#">3-1</a>

                            <ul class="menu-3">
                                <li><a href="#">3-1-1</a>
                                    <ul>
                                        <li><a href="#">3-1-1-1</a></li>
                                        <li><a href="#">3-1-1-2</a></li>
                                        <li><a href="#">3-1-1-3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">3-1-2</a>
                                    <ul>
                                        <li><a href="#">3-1-2-1</a></li>
                                        <li><a href="#">3-1-2-2</a></li>
                                        <li><a href="#">3-1-2-3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">3-1-3</a>
                                    <ul>
                                        <li><a href="#">3-1-3-1</a></li>
                                        <li><a href="#">3-1-3-2</a></li>
                                        <li><a href="#">3-1-3-3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li><a href="#">3-2</a>
                            <ul class="menu-3">
                                <li><a href="#">3-2-1</a>
                                    <ul>
                                        <li><a href="#">3-2-1-1</a></li>
                                        <li><a href="#">3-2-1-2</a></li>
                                        <li><a href="#">3-2-1-3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">3-2-2</a>
                                    <ul>
                                        <li><a href="#">3-2-2-1</a></li>
                                        <li><a href="#">3-2-2-2</a></li>
                                        <li><a href="#">3-2-2-3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">3-2-3</a>
                                    <ul>
                                        <li><a href="#">3-2-3-1</a></li>
                                        <li><a href="#">3-2-3-2</a></li>
                                        <li><a href="#">3-2-3-3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="disabled_feedback" id="feedback"><a href="../feedback">Feedback</a></li>

                <li onclick="light_dark();"><a id="lightDark">Light</a></li>

                <li style="float:right;"><a href="../first">Home</a></li>

                <li style="float:right;" onclick="FuncLogOUT();"><a id="hrefLogin" href="#"><p id="logInOut">Login</p></a></li>

            </ul>
        </nav>
    </header>

    {% block  content %} {% endblock %}

    <footer role="contentinfo">F O O T E R</footer>


    <script type="text/javascript">
        // Log-In/Out
        let splitVal = document.cookie.split('; ');
        let elementChange = document.querySelector('#logInOut');
        let link = document.querySelector('#hrefLogin');

        // проверяем ответ на проверку юзера в куки
        for (let i = 0; i < splitVal.length; i++){
            if (splitVal[i].includes('IsUserLogin')){
                splitVal = splitVal[i].split('=');
                splitVal = splitVal[1];
                splitVal = splitVal.split(',');
                splitVal = splitVal[0];
            }
        }
        console.log('splitVal !!', splitVal);

        // Login или Logout
        if (splitVal == 'the user is ok') {
            try{
                document.querySelector(".textarea").style.pointerEvents = 'auto';
                document.querySelector(".textarea").style.opacity = 1;
            } catch {  }
            elementChange.textContent = 'Logout';
            link.setAttribute('href', '#');
        }
        else {
            try{
                document.querySelector(".textarea").style.pointerEvents = 'none';
                document.querySelector(".textarea").style.opacity = 0.2;
            } catch {  }
            link.setAttribute('href', '../login');
        }

        // очистка куки при Logout
        function FuncLogOUT() {
            if (elementChange.textContent === 'Logout'){
                document.cookie.split(";").forEach(function(cookie) {
                   let name = cookie.split("=")[0].trim();
                   document.cookie = name + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                });
                //
                let inputNickName = sessionStorage.getItem('inputNickName');
                sessionStorage.setItem('inputNickName', null);
                //
                location.reload();
            }
        }
    </script>

    <script type="text/javascript">
        // Light/Dark стиль
        // Получаем все элементы на странице
        let button_LD = document.getElementById('lightDark');
        let elem_feedback = document.querySelector('.feedback');
        let elem_div_feedback = document.querySelector('.div_feedback');
        let elements = document.querySelectorAll('*');

        // Функция по смене Light/Dark
        function LigDar(){
            elements.forEach(element => {
                element.style.backgroundColor = '#2e2e2e';
                element.style.color = '#8a6c04';
                // только текст выделяется при наведении
                element.style.outlineColor = '#2e2e2e';
                element.addEventListener("mouseover", function() {
                    element.style.color = '#f90';
                });
                element.addEventListener("mouseout", function() {
                    element.style.color = '#8a6c04';
                });
            });
            // Проверяем можно ли, если есть...
            try{
                elem_feedback.style.borderColor = '#000';
                elem_div_feedback.style.borderColor = '#000';
            } catch {  }
            // Меняем название с Light на Dark
            button_LD.textContent = 'Dark';
        }

        // Для куки
        let splitLight = document.cookie.split('; ');
        // Проверка Light в куки
        for (let i = 0; i < splitLight.length; i++){
            if (splitLight[i].includes('Light')){
                splitLight = splitLight[i].split('=');
                splitLight = splitLight[1];
            };
        };

        // Если Light=0 есть в куки
        if (splitLight === '0'){
            LigDar();
        }

        // По нажатию на Light/Dark
        function light_dark(){
            // Изменяем цвет фона для каждого элемента
            if (button_LD.textContent == 'Light'){
                LigDar();
                // Сохраняем в куки значение button_LD.textContent в формате 0/1
                document.cookie = "Light=0" + ";path=/";
            }
            else{
                // Очистить куки от Light=0
                document.cookie.split(";").forEach(function(cookie) {
                   let name = cookie.split("=")[0].trim();
                   if (name == 'Light'){
                       document.cookie = name + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                   }
                });
                // Обновить страницу
                location.reload();
            }
        }
    </script>
</body>
</html>