<!DOCTYPE html>
{% load static %}
<html lang="en">
<meta charset=utf-8>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style_base.css' %}">
</head>
<body>
    <header role="banner">H E A D E R
        <nav>
            <ul class="menu">
                <li><a>Menu1</a>

                    <ul class="menu-2">
                        <li><a href="../some_page">some_page</a>

                            <ul class="menu-3">
                                <li><a href="#">1-1-1</a>
                                    <ul>
                                        <li><a href="#">1-1-1-1</a></li>
                                        <li><a href="#">1-1-1-2</a></li>
                                        <li><a href="#">1-1-1-3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">1-1-2</a>
                                    <ul>
                                        <li><a href="#">1-1-2-1</a></li>
                                        <li><a href="#">1-1-2-2</a></li>
                                        <li><a href="#">1-1-2-3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">1-1-3</a>
                                    <ul>
                                        <li><a href="#">1-1-3-1</a></li>
                                        <li><a href="#">1-1-3-2</a></li>
                                        <li><a href="#">1-1-3-3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li><a href="#">1-2</a>
                            <ul class="menu-3">
                                <li><a href="#">1-2-1</a>
                                    <ul>
                                        <li><a href="#">1-2-1-1</a></li>
                                        <li><a href="#">1-2-1-2</a></li>
                                        <li><a href="#">1-2-1-3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">1-2-2</a>
                                    <ul>
                                        <li><a href="#">1-2-2-1</a></li>
                                        <li><a href="#">1-2-2-2</a></li>
                                        <li><a href="#">1-2-2-3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">1-2-3</a>
                                    <ul>
                                        <li><a href="#">1-2-3-1</a></li>
                                        <li><a href="#">1-2-3-2</a></li>
                                        <li><a href="#">1-2-3-3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>


                <li><a>Menu2</a>
                    <ul class="menu-2">
                        <li><a href="#">2-1</a>

                            <ul class="menu-3">
                                <li><a href="#">2-1-1</a>
                                    <ul>
                                        <li><a href="#">2-1-1-1</a></li>
                                        <li><a href="#">2-1-1-2</a></li>
                                        <li><a href="#">2-1-1-3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">2-1-2</a>
                                    <ul>
                                        <li><a href="#">2-1-2-1</a></li>
                                        <li><a href="#">2-1-2-2</a></li>
                                        <li><a href="#">2-1-2-3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">2-1-3</a>
                                    <ul>
                                        <li><a href="#">2-1-3-1</a></li>
                                        <li><a href="#">2-1-3-2</a></li>
                                        <li><a href="#">2-1-3-3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li><a href="#">2-2</a>
                            <ul class="menu-3">
                                <li><a href="#">2-2-1</a>
                                    <ul>
                                        <li><a href="#">2-2-1-1</a></li>
                                        <li><a href="#">2-2-1-2</a></li>
                                        <li><a href="#">2-2-1-3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">2-2-2</a>
                                    <ul>
                                        <li><a href="#">2-2-2-1</a></li>
                                        <li><a href="#">2-2-2-2</a></li>
                                        <li><a href="#">2-2-2-3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">2-2-3</a>
                                    <ul>
                                        <li><a href="#">2-2-3-1</a></li>
                                        <li><a href="#">2-2-3-2</a></li>
                                        <li><a href="#">2-2-3-3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>


                <li><a>Menu3</a>
                    <ul class="menu-2">
                        <li><a href="#">3-1</a>

                            <ul class="menu-3">
                                <li><a href="#">3-1-1</a>
                                    <ul>
                                        <li><a href="#">3-1-1-1</a></li>
                                        <li><a href="#">3-1-1-2</a></li>
                                        <li><a href="#">3-1-1-3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">3-1-2</a>
                                    <ul>
                                        <li><a href="#">3-1-2-1</a></li>
                                        <li><a href="#">3-1-2-2</a></li>
                                        <li><a href="#">3-1-2-3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">3-1-3</a>
                                    <ul>
                                        <li><a href="#">3-1-3-1</a></li>
                                        <li><a href="#">3-1-3-2</a></li>
                                        <li><a href="#">3-1-3-3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li><a href="#">3-2</a>
                            <ul class="menu-3">
                                <li><a href="#">3-2-1</a>
                                    <ul>
                                        <li><a href="#">3-2-1-1</a></li>
                                        <li><a href="#">3-2-1-2</a></li>
                                        <li><a href="#">3-2-1-3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">3-2-2</a>
                                    <ul>
                                        <li><a href="#">3-2-2-1</a></li>
                                        <li><a href="#">3-2-2-2</a></li>
                                        <li><a href="#">3-2-2-3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">3-2-3</a>
                                    <ul>
                                        <li><a href="#">3-2-3-1</a></li>
                                        <li><a href="#">3-2-3-2</a></li>
                                        <li><a href="#">3-2-3-3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="disabled_feedback" id="feedback"><a>Feedback</a>
                    <ul class="menu-2">
                        <li><a>Дальше...</a>

                            <ul class="menu-3">
                                <li><a>Вот сюда...</a>
                                    <ul>
                                        <li><a href="../feedback">Ну, вот тут</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li style="float:right;"><a href="../first">Home</a></li>

                <li style="float:right;" onclick="FuncLogOUT();"><a id="hrefLogin" href="#"><p>Login</p></a></li>

            </ul>
        </nav>/H E A D E R
    </header>

    {% block  content %} {% endblock %}

    <footer role="contentinfo">F O O T E R</footer>

    <script type="text/javascript">
        let splitVal = document.cookie.split('; ');
        let elementChange = document.querySelector('p');
        let link = document.getElementById('hrefLogin');

        // проверяем ответ на проверку юзера в куки
        for (let i = 0; i < splitVal.length; i++){
            if (splitVal[i].includes('IsUserLogin')){
                splitVal = splitVal[i].split('=');
                splitVal = splitVal[1];
            }
        }

        // Login или Logout
        if (splitVal == 'the user is ok') {
            document.getElementById("feedback").style.pointerEvents = 'auto';
            document.getElementById("feedback").style.opacity = 1;
            elementChange.textContent = 'Logout';
            link.setAttribute('href', '#');
        }
        else {
            document.getElementById("feedback").style.pointerEvents = 'none';
            document.getElementById("feedback").style.opacity = 0.2;
            link.setAttribute('href', '../login');
        }

        // очистка куки при Logout
        function FuncLogOUT() {
            if (elementChange.textContent === 'Logout'){
                document.cookie.split(";").forEach(function(cookie) {
                   let name = cookie.split("=")[0].trim();
                   document.cookie = name + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                });
                location.reload();
            }
        }
    </script>
</body>
</html>