/* menu 1 */
.menu ul{
  display: none;  /* скрывает подменю */
  background-color: #f90;
  position: absolute;
  /* ?? */
  /* top: 100%;  */
  /* ?? */
}
.menu-2 ul{
  opacity: 0;  /* скрывает под-подменю */
  background-color: #f90;
  /* position: absolute;  */
  /* ?? */
  top: 0;  /* высота на уровне родителя */
  left: 112px;  /* отступ слева от родителя -> чтоб справа показывалось */
}

.menu li:hover ul{ display: block; }  /* показывает подменю */
.menu-2 li:hover ul{
  opacity: 1;   /* показывает под-подменю */
  display:flex;   /* горизонтальное под-подменю */
}

.menu, .menu ul{  /* убирает маркеровку списка */
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.menu {  /* размер и цвет меню */
  height: 30px;
  background-color: #a8a8a8;
  padding-left: 25px;
  min-width: 470px;
}
.menu li{
  float: left;  /* горизонтальное положение меню */
  position: relative;
  /* ?? *//* в паре с "position: absolute;" выше */
  /* height: 100%;   */
  /* ?? */
}
.menu li a {
  display: block;  /* блочный вид меню */
  padding: 6px;
  width: 100px;
  color: #580808;
  text-decoration: none;  /* убирает подчёркивание в надписях меню */
  text-align: center;
}
.menu ul li { float: none; }  /* ?? */
.menu li:hover { background-color: #f90; }
.menu ul li:hover { background-color: #a8a8a8; }

/* menu 2 */
/*
* html ul li {
    float: left;
  }
  * html ul li a {
    height: 1%;
  }
  .menu_2 ul {
    border-bottom: 1px solid #000;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100px;
  }
  .menu_2 ul li {
    position: relative;
  }
  .menu_2 ul li a {
    display: block;
    border: 1px solid #000;
    border-bottom: 1px;
    padding: 5px;
    text-decoration: none;
  }
  .menu_2 li ul {
    display: none;
    left: 99px;
    position: absolute;
    top: 0;
  }
  .menu_2 li:hover ul {
    display: block;
  }
*/