/* menu 1 */
.menu_1 ul{
  display: none;  /* скрывает подменю */
  background-color: #f90;
  position: absolute;
  /* ?? */
  /* top: 100%;  */
  /* ?? */
}
.menu_1-2 ul{
  opacity: 0;  /* скрывает под-подменю */
  background-color: #f90;
  /* position: absolute;  */
  /* ?? */
  top: 0;  /* высота на уровне родителя */
  left: 112px;  /* отступ слева от родителя -> чтоб справа показывалось */
}

.menu_1 li:hover ul{ display: block; }  /* показывает подменю */
.menu_1-2 li:hover ul{
  opacity: 1;   /* показывает под-подменю */
  display:flex;   /* горизонтальное под-подменю */
}

.menu_1, .menu_1 ul{  /* убирает маркеровку списка */
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.menu_1 {  /* размер и цвет меню */
  height: 30px;
  background-color: #a8a8a8;
  padding-left: 25px;
  min-width: 470px;
}
.menu_1 li{
  float: left;  /* горизонтальное положение меню */
  position: relative;
  /* ?? *//* в паре с "position: absolute;" выше */
  /* height: 100%;   */
  /* ?? */
}
.menu_1 li a {
  display: block;  /* блочный вид меню */
  padding: 6px;
  width: 100px;
  color: #580808;
  text-decoration: none;  /* убирает подчёркивание в надписях меню */
  text-align: center;
}
.menu_1 ul li { float: none; }  /* ?? */
.menu_1 li:hover { background-color: #f90; }
.menu_1 ul li:hover { background-color: #a8a8a8; }

/* menu 2 */
